/* General */
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--dark2);
}

::-webkit-scrollbar-thumb {
    background: var(--dark3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark4);
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;
    --dark4: #89a7b1;
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-color: var(--dark1);
}

header {
    flex-wrap: wrap;
    background-color: var(--dark6);
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--dark3);
    border: 1px solid var(--dark3);
}

.msg {
    background-color: var(--cyan1);
    color: var(--dark1);
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

#info-container .already-joined-msg {
    margin: 15px 0;
    color: var(--dark1);
    background-color: #cce5ff;
    border: 1px solid #b8daff;
    padding: 10px;
    width: 275px;
    border-radius: 10px;
    text-align: justify;
}

/* Navbar */
#navbar img {
    width: 100px;
    border-radius: 100px;
}

#navbar {
    justify-content: space-between;
    padding: 5px 0;
}

#navbar a {
    text-decoration: none;
    color: var(--white);
}

#navbar a:hover {
    color: var(--dark4);
    transition: .4s;
    text-decoration: underline;
}

/* Search Container */
#search-container {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: var(--white);
    font-size: 2rem;
    letter-spacing: 8px;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

#search {
    border: none;
}

/* Events list */
#events-container {
    padding: 50px;
}

#events-container h2 {
    color: var(--dark5);
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: var(--dark4);
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: .5%;
    background-color: var(--dark4);
    box-shadow: 2px 2px 1px 1px var(--dark3);
}

#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#events-container p {
    color: var(--dark5);
}

.card .card-date {
    font-size: 12px;
    color: var(--white);
}

.card .card-title {
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participantes {
    font-size: 14px;
    color: var(--white);
}

/* Events create page */
#event-create-container {
    padding: 30px;
    color: var(--dark5);
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

/* Event page */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}

#info-container h1 {
    font-size: 36px;
    font-weight: 900;
    color: var(--dark5);
}

#info-container p, #description-container p {
    margin: 0;
    font-size: 16px;
    display: flex;
    color: var(--dark5);
}

#info-container h3,
#description-container h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--dark5);
}

#info-container ion-icon {
    font-size: 20px;
    color: var(--cyan1);
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

#items-list {
    list-style: none;
    padding-left: 0;
}

#items-list li {
    display: flex;
    color: var(--dark5);
}

#description-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Dashboard */
.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
    color: var(--dark5);
}

.dashboard-events-container {
    width: 25%;
}

:is(.dashboard-events-container th, .dashboard-events-container td, .dashboard-events-container a) {
    color: var(--white);
}

.dashboard-events-container a:hover {
    color: var(--dark4);
    transition: .4s;
    text-decoration: underline;
}

.dashboard-events-container form {
    display: inline-block;
}

.dashboard-events-container p {
    color: var(--dark5);
}

table {
    text-align: center;
    background-color: var(--dark2);
}

:is(table tr, table td){
    border: 1px solid var(--dark5);
}

thead {
    background-color: var(--dark1);
}

tr:hover{
    background-color: var(--dark1);
}

/* Edit page */
.img-preview {
    max-height: 150px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--dark6);
    color: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}